<h3>User signUp</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          {{errMsg}}
          <form  (submit)='signUpUser()'>
  First Name<input type="text" class="form-control" [(ngModel)]="user.first_name" name="first_name"><br>
  Last Name <input type="text" class="form-control" [(ngModel)]= "user.last_name" name="last_name"><br>
  UserName <input type="text" class="form-control" [(ngModel)]= "user.username" name="username"><br>
  Email Id <input type="text" class="form-control" [(ngModel)]= "user.email" name="email"><br>
  Password  <input type="password" class="form-control"  [(ngModel)]= "user.password" name="password"><br>
  <input type="submit">
</form>

</div>
</div>
</div>