<app-sidenav></app-sidenav>
<div class="container">
  <div class="row" style="padding-top: 20px;">
      <div class="col-sm-4">

      </div>  
      <div class="col-sm-4">
         <img src="{{url+productInfo.ImageUrl}}" style="width:220px">
            
     </div>
     <div class="col-xs-4">
        <div class="row">
            <h4>Product Details</h4>
            </div> 
           <div class="row">
           <h4>Product Name - {{productInfo.productName}}</h4>
           </div>
           <div class="row">
            <h4>Product Barnd -{{productInfo.productBrand}}</h4>
           </div>
           <div class="row">
              <h6 class="title-attr" style="margin-top:15px;" ><small>COLOR</small></h6>                    
              <div>
                  <div class="attr" style="width:25px;background:#5a5a5a; margin-top: 15px;"></div>
                  <div class="attr" style="width:25px;background:white; margin-left: 34px;
                  margin-top: -20px;"></div>
              </div>
          </div>

          <div class="row">
              <h5>Features :- </h5><br>
                 {{productInfo.KeyPoint.keyPoint1}} <br>
                 {{productInfo.KeyPoint.keyPoint2}} <br>
                 {{productInfo.KeyPoint.keyPoint3}}
          </div>
          <div class="row">
              <h5>Product Price - {{productInfo.productPrice}}</h5>
              </div>
              <div class="row">
                  <div class="btn-minus">-</div>
                  <input value="1" style="width: 20%;"/>
                  <div class="btn-plus">+</div>
              </div><br>
              <div class="row">
                  <button id="styleCart" >ADD CART</button>
                  <button id="styleBuy" (click)="addBuyProduct()">BUY NOW</button>
                  
              </div>
             
     </div>

  </div>
  <div class="row">
    
      <div class="col-sm-4">
      </div>  
      <div class="col-sm-4">

            details
     </div>
  </div>

  <div>

  </div>
  </div>
