<!-- <a routerLink="login">Login</a>
<a routerLink ="signup">signupa</a> -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end fixed-top" *ngIf="showMenu == false">
  <!-- Brand -->

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink=''>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink ="signup">SignUp</a>
    </li>
   
    <!-- Dropdown -->
   
  </ul>
</nav>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end fixed-top" *ngIf="showMenu == true">
    <!-- Brand -->
  
    <!-- Links -->
    <ul class="navbar-nav">
      <input type="text"  [(ngModel)]="searchInput">
          <button class="btn btn-default" style="background-color:white;" (click)="search()">
            search
          </button>
          
      <li class="nav-item">
        <a class="nav-link" routerLink=''>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ><img src="../../../assets/image/shopping-cart.png" style="height: 20px;" routerLink='view_cart'>
          <span class="badge badge-pill badge-info">{{addToCartCount}}</span>
        </a>
      </li>
     
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          {{userInfo}}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">profile</a>
          <a class="dropdown-item" href="#">Order</a>
          <a class="dropdown-item" (click)="showBuyList()">Buy List</a>
          <a class="dropdown-item" (click)="Logout()">Log out</a>
        </div>
      </li>
     
    </ul>
  </nav>