ul {
    list-style-type: none;
    background: antiquewhite;
    width: 390%;
    height: 129px;
    margin-left: 5%;
  }
#priceStyle
  {
    margin-left: 10%;
  }
  #styleCart{
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 14px;
  }
  #styleBuy{
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 14px;
    margin-top: 3%;
  }
  button:hover {
    opacity: 0.7;
  }
  .ngx-pagination {
    margin-left: 294% !important;
    margin-bottom: 1rem;
    width: 104% !important;
  }