<!-- <app-sidenav></app-sidenav> -->



<app-sidenav></app-sidenav>
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6" *ngIf="AllCartItem.length !== 0">
        <ul  *ngFor="let product of AllCartItem | paginate: { itemsPerPage: 4, currentPage: p }">
            <li>
                <img src="{{url+product.ImageUrl}}" style="height: 100px;     margin-top: 1%;">
               
             
            </li> 
            <li style="margin-left: 10%;
            margin-top: -9%;">
                Product Name - {{product.productName}}
            </li>
            <li style="    margin-left: 10%;
            ">
               Product Brand - {{product.productBrand}}
            </li> 
            <li id="priceStyle">
              Product price - {{product.productPrice}}
            </li>
            <h6 style="    margin-left: 40%;
            margin-top: -7%;">
                key feature
                <li> 
                   - {{product.KeyPoint.keyPoint1|| ''}}
                </li>
                <li> 
                        - {{product.KeyPoint.keyPoint2}}
                 </li>
                 <li> 
                       - {{product.KeyPoint.keyPoint3}}
                </li>
            </h6>
            <p style="margin-left: 62%;
            margin-top: -6%;">
              <button (click)="dev()">-</button>
               {{productTotal}}
               <button (click)= "inc()">+</button>


            </p>
            <li style="    margin-left: 78%;
            margin-top: -9%;">
            <button id="styleCart">Buy Now</button>
            <button id="styleBuy">Details</button>
            <button id="styleBuy" (click) ="removeToCart(product)">Remove To Cart</button>
            </li>
        </ul>
       <div style="    margin-left: 303%;
       width: 105%;"> <pagination-controls (pageChange)="p = $event"></pagination-controls></div>

      </div>
      <div *ngIf=" AllCartItem.length== 0">
            NO Product Found
      </div>

</div>