<app-sidenav></app-sidenav>
<div class="w3-main" style="margin-left:250px">
        <div class="w3-hide-large" style="margin-top:83px"></div>
<div class="w3-display-container w3-container">
        <img src="../../../assets/image/jeans.jpg" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
          <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
          <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
          <h1 class="w3-hide-small">COLLECTION 2016</h1>
          <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
      </div>
    
      <div class="w3-container w3-text-grey" id="jeans">
        <p>Home</p>
      </div>

      <div class="w3-row w3-grayscale">
            <div class="w3-col l3 s6">
                <ul  *ngFor="let product of productArry | paginate: { itemsPerPage: 4, currentPage: p }">
                    <li>
                        <img src="{{url+product.ImageUrl}}" style="height: 100px;     margin-top: 1%;">
                       
                     
                    </li> 
                    <li style="margin-left: 10%;
                    margin-top: -9%;">
                        Product Name - {{product.productName}}
                    </li>
                    <li style="    margin-left: 10%;
                    ">
                       Product Brand - {{product.productBrand}}
                    </li> 
                    <li id="priceStyle">
                      Product price - {{product.productPrice}}
                    </li>
                    <h6 style="    margin-left: 40%;
                    margin-top: -7%;">
                        key feature
                        <li> 
                           - {{product.KeyPoint.keyPoint1|| ''}}
                        </li>
                        <li> 
                                - {{product.KeyPoint.keyPoint2}}
                         </li>
                         <li> 
                               - {{product.KeyPoint.keyPoint3}}
                        </li>
                    </h6>
                    <li style="    margin-left: 78%;
                    margin-top: -9%;
                ">
                    <button id="styleCart" (click)="addToCart(product)">Add to Cart</button>
                    <button id="styleBuy" routerLink="product_details/{{product._id}}">Details</button>
                    </li>
                </ul>
               <div style="    margin-left: 303%;
               width: 105%;"> <pagination-controls (pageChange)="p = $event"></pagination-controls></div>
 
              </div>
      </div>