<h4>Login User</h4>
<div class="container">
  <div class="row">
      <div class="col-md-6 offset-md-3">

<form (submit)="loginUser() ">
  Email Id  <input type="text" class="form-control" [(ngModel)]="login_user.email" name="email"><br>
  Password  <input type="password"  class="form-control" [(ngModel)]="login_user.password" name="password"><br>
  <input type="submit" name="login">
</form>
      </div>
      </div>
    </div>