
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <h3 class="w3-wide"><b>LOGO</b></h3>
      <a href="#" class="w3-bar-item w3-button">Shirts</a>
      <a href="#" class="w3-bar-item w3-button">Dresses</a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Skinny</a>
        <a href="#" class="w3-bar-item w3-button">Relaxed</a>
       
      </div>
      <a href="#" class="w3-bar-item w3-button">Jackets</a>
      <a href="#" class="w3-bar-item w3-button">Gymwear</a>
      <a href="#" class="w3-bar-item w3-button">Blazers</a>
      <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
    <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
  </nav>
