<app-sidenav></app-sidenav>
<div class="container">
  <div class="row">
      <div class="col-sm">
         
      </div>
      <div class="col-sm">
           YOU BUY PRODUCT OR Billing
        </div>

  </div>

  <div class="w3-main" style="margin-left:250px">
   <div class="w3-row w3-grayscale">
     <div class="w3-col l3 s6" *ngIf="buyProductList.length !== 0">
        
         <ul  *ngFor="let product of buyProductList">
             <li>
                 <img src="{{url+product.ImageUrl}}" style="height: 100px;     margin-top: 1%;">
                
             </li> 
            
             <li style="margin-left: 10%;
             margin-top: -9%;">
                 Product Name - {{product.productName}}
             </li>
             <li style="    margin-left: 10%;
             ">
                Product Brand - {{product.productBrand}}
             </li> 
            
             <p style="margin-left: 46%;
             margin-top: -4%;">
               <button (click)="dev()">-</button>
                1
                <button (click)= "inc()">+</button>
 
 
             </p>
             
             <li style="  margin-left: 61%;
             margin-top: -4%;">
               Rs- {{product.productPrice}}
             </li>
             <li style="    margin-left: 78%;
             margin-top: -4%;">
                <button>romove</button>
            
             </li>
         </ul>
         <p style="margin-left: 47%;">Total - {{totalPrice}}</p>
         <div>
            <input type="radio"  name="payment"value="COD"> Cash On delivery.<br>
            <input type = "radio" name="payment" value="Card"> Via Card.<br>
            <input type = "radio" name ="payment"value="GPay"> Google Pay.<br>
            <button (click)="openCheckout()">Purchase</button>
         </div>
       <div *ngIf=" buyProductList.length== 0">
             NO Product Found
       </div>
 
 </div>
 

</div>

